.signup{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.signup h3{
    margin-bottom: 15px;
}
.authfield{
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}
.authfield input {
    background: white;
    height: 65px;
    width: 20rem;
    padding-left: 10px ;
    border: 1px solid;
}
.authfield label{
    position: absolute;
    top: 25px;
    left: 10px;
    transition: 0.8s ease;
}
.authfield input,.authfield label{
    font-size: 1rem;
    font-family: sans-serif;
    color: black;
    font-weight: 600;
}
input:focus+label,
input:valid+label{
    top: 6px;
    font-size: 0.7rem;
    pointer-events: none;
}
.subtn{
    width: 100%;
    height: 3rem;
    font-size: large;
    color: white;
    background-color: #a435f0;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
.subtn:hover{
    background-color: #8d2ace;
}
.term{
    width: 100%;
    text-align: center;
    font-size: 11.5px;
    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(203, 203, 203);
}
.term span{
    text-decoration: underline;
    font-family: sans-serif;
}
.already{
    text-align: center;
    width: 100%;
    font-size: 16px;
    margin-top: 15px;
}
.already span{
    color:#a435f0;
    cursor: pointer;
    border-bottom: 1px solid #a435f0;
}

input{
    z-index: 1;
}